<?xml version="1.0" encoding="UTF-8" ?>
<Configuration
	xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN">

	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%m %n</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="fr.martinbonnefoy.sql.parser" level="info" />
		<Root level="error">
			<AppenderRef ref="stdout" />
		</Root>
	</Loggers>

</Configuration>